/**************************************************/
/* custom CSS for literary kicks litmega drupal 7 */
/**************************************************/

.lkflush {
  margin: 0px;
  padding: 0px;
}

.lkunpad {
  padding: 0px;
}

.lkborder {
  border-style: dashed;
  border-width: 1px;
  border-color: blue;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.lkwidetoplinks {
  width: 100%;
}

.lkwidetoplinks-td {
  text-align: right;
}

.wide-topline {
  padding: 10px;
}

.branding-links {
  text-align: right;
}

.branding-linkbox {
  font-family: verdana, georgia, serif;
  font-variant: small-caps;
  margin-left: 8px;
}

.branding-links a {
  color: #000000;
}

body {
   font: 13.5px/1.5 Trebuchet MS, Helvetica, Arial, sans-serif;
   background-color: #e3e3e3;
}

.lknarrowtable {
  width: 100%;
  height: 153px;
  padding-bottom: 20px;
}

.lknarrowtable-title {
  text-align: center;
  vertical-align: middle;
}

.lknarrowtable-menu {
  text-align: right;
  vertical-align: top;
}

.lkwidetable {
  width: 100%;
  height: 217px;
}

.lkwidetable-logo {
  float: right;
}

.lkwidetable-title {
  float: left;
}

.lknarrow-sitetitle {
  font-family: helvetica, arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #006f3f;
  text-decoration: none;
}

.lkwide-sitetitle {
  font-family: helvetica, arial, sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: #006f3f;
  text-decoration: none;
  line-height: .9em;
}

a:active {
  text-decoration: none;
  color: #006f3f;
}

/*
.navbar-header {
  vertical-align: middle;
  height: 153px;
  padding: 0px;
  margin: 0px;
}

.navbar.container {
  margin: 0px;
  padding: 0px;
}

.header-logo, .header-title {
  float: left;
  height: 153px;
  line-height: 130px;
  padding: 0px
  margin: 0px;
  vertical-align: middle;
}

.navbar-btn {
  margin: 0px;
}


/*

a, a:link, a:visited {
  color: #503077;
  text-decoration: none;
}

a:hover {
  color: #aaaa7f;
  text-decoration: none;
}

a:active {
  color: #55554f;
  text-decoration: none;
}

div#commentintro {
   padding-top: 18px;
}

div#comments h1, div#comments h2 {
   font-family: helvetica, arial, sans-serif;
}

div#comments article {
   width: 464px;
   border-style: solid;
   border-width: 1px;
   border-color: #404048;
   padding: 6px;
   margin: 10px;
   margin-bottom: 18px;
}

.comment-submitted {
   font-weight: bold;
   font-size: 1.1em;
   font-style: italic;
   margin-bottom: 16px;
   margin-left: 0px;
   padding-left: 0px;
}

#commentintro, #commentintro a,
#readmorethoughts, #readmorethoughts a {
   font-family: Verdana, Georgia, serif;
   font-weight: bold;
   font-variant: small-caps;
}

#commentintro, #commentintro a {
   font-size: 1.2em;
}

#readmorethoughts, #readmorethoughts a {
   float: right;
}
*/
