/**************************************************/
/* custom CSS for literary kicks litmega drupal 7 */
/**************************************************/

/* left sidebar styles */

.region-sidebar-first {
  width: 180px;
  padding: 10px;
}

.block-search {
  padding-bottom: 12px;
}

/* sitewide styles */

body {
   font: 13.5px/1.5 Trebuchet MS, Helvetica, Arial, sans-serif;
   background-color: #e3e3e3;
}

.lkflush {
  margin: 0px;
  padding: 0px;
}

.lkunpad {
  padding: 0px;
}

.lkborder {
  border-style: dashed;
  border-width: 1px;
  border-color: blue;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* header styles */

.lksitetitle {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #006f3f;
  text-decoration: none;
}

a.lksitetitle,
a.lksitetitle:link,
a.lksitetitle:visited,
a.lksitetitle:hover,
a.lksitetitle:active {
  color: #006f3f;
}

.lksitetitle-narrow {
  font-size: 3em;
  padding-left: 12px;
}

.lksitetitle-wide {
  font-size: 5em;
  line-height: .9em;
}

.lkwidetoplinks {
  width: 100%;
}

.lkwidetoplinks-td {
  text-align: right;
}

.wide-topline {
  padding: 10px;
}

.branding-links {
  text-align: right;
}

.branding-linkbox {
  font-family: verdana, georgia, serif;
  font-variant: small-caps;
  margin-left: 8px;
}

.branding-links a {
  color: #000000;
}

.lktable-narrow {
  width: 100%;
  height: 153px;
  padding-bottom: 20px;
}

.lklogo-narrow {
  width: 234px;
}

.lksitetitle-td-narrow {
  text-align: left;
  vertical-align: middle;
}

.lksitetitle-td-wide {
  float: left;
}

.lkmenubars {
  text-align: right;
  vertical-align: top;
}

.lktable-wide {
  width: 100%;
  height: 217px;
}

.lklogo-wide {
  float: right;
}

/* comment styles */

div#commentintro {
   padding-top: 18px;
}

div#comments h1, div#comments h2 {
   font-family: helvetica, arial, sans-serif;
}

div#comments article {
   width: 464px;
   border-style: solid;
   border-width: 1px;
   border-color: #404048;
   padding: 6px;
   margin: 10px;
   margin-bottom: 18px;
}

.comment-submitted {
   font-weight: bold;
   font-size: 1.1em;
   font-style: italic;
   margin-bottom: 16px;
   margin-left: 0px;
   padding-left: 0px;
}

#commentintro, #commentintro a,
#readmorethoughts, #readmorethoughts a {
   font-family: Verdana, Georgia, serif;
   font-weight: bold;
   font-variant: small-caps;
}

#commentintro, #commentintro a {
   font-size: 1.2em;
}

#readmorethoughts, #readmorethoughts a {
   float: right;
}
